@font-face{
   src: url(../fonts/Reckless-Regular.a77e1314.woff);
   font-family: reckless;
}

:root{
   --border-color: #aaa;
   --bg-light: #fff;
   --bg-dark: #000;
   --text-light: #fff;
   --text-dark: #000;
   --text-title:  #fc951d;
}

.header .hamburger{
   top: 30%;
}

.main-section{
   background: url(../images/Hero_Culture1.jpg);
   background-size: cover;
   background-position: center;
}

/* Who we are section */
.who-we-are{
   width: 100%;
   min-height: 100vh;
   padding-left: 5em;
   padding-top: 6rem;
}

.who-we-are h4{
   margin-left: 4.5rem;
   text-transform: uppercase;
   color: var(--border-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 25px;
}

.who-we-are .wrapper{
   margin-left: 4.5rem;
   margin-top: 2rem;
   height: 450px;
   overflow-y: scroll;
   width: 85%;
}

.who-we-are .wrapper::-webkit-scrollbar {
   display: none;
 }
 
 /* Hide scrollbar for IE, Edge and Firefox */
.who-we-are .wrapper {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }

.who-we-are .wrapper ul li p{
   font-size: 4.75rem;
   margin-bottom: 4rem;
   font-family: reckless;
   font-weight: 400;
}


.who-we-are .wrapper ul li p span{
   color: var(--text-title);
}
/* Who we are section */

/* Responsive */ 
@media only screen and (max-width: 768px){
   .header .hamburger{
      margin-top: 10px;
   }

   .who-we-are{
      padding-left: 2rem;
   }
   .who-we-are h4{
      margin-left: 0;
   }
   .who-we-are .wrapper{
      margin-left: 0;
   }
   .who-we-are .wrapper ul li p{
      font-size: 1.5rem;
   }
}
/* Responsive */